.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.profilePaper {
    width: 50%;
    padding: 8px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}