.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    align-items: center;
    padding: 8px;
}

.image {
    width: 250px;
    height: 250px;
}
